# The command that is executed when the run button is clicked.
# The default file opened in the editor.
run = "dotnet run"
entrypoint = "main.cs"
hidden = ["bin", "obj"]
DOTNET_NOLOGO = "1"
DOTNET_CLI_TELEMETRY_OPTOUT = "1"
language = "dotnet"
packageSearch = true
channel = "stable-21_11"
pattern = "**/*.cs"
start = ["omnisharp", "--languageserver"]
